@keyframes ani {
    0%, 33%, 67%, 100% {
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1)
    }
    0% {
        opacity: 0;
        transform: scale3d(0.3, 0.3, 0.3)
    }
    33% {
        transform: scale3d(1.1, 1.1, 1.1)
    }
    67% {
        transform: scale3d(0.9, 0.9, 0.9)
    }
    100% {
        opacity: 1;
        transform: scale3d(1, 1, 1)
    }
}

.warn {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 1.5rem;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    background-color: firebrick;
    opacity: 0.75
}

body {
    margin: 0;
    background-color: #eeeeee
}

/*导航栏*/
.nav td {
    width: 11.25rem;
    padding: 0;
    font-size: 1.25rem;
    vertical-align: top;
    text-align: center;
    color: #ffffff
}

.nav td > a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #ffffff;
    text-decoration: none
}

.nav td > a:focus {
    background-color: #98bcde
}

.nav ul {
    display: none;
    float: left;
    width: inherit;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px #797a7e33;
    list-style: none
}

.nav li > a {
    display: inline-block;
    width: 9.25rem;
    height: 100%;
    padding: 0.25rem 1rem;
    font-size: 1rem;
    color: #000000;
    text-decoration: none
}

.nav li:hover {
    background-color: #d5e9f4
}

.nav li > a:focus {
    background-color: #d5e9f4
}

/*输入部分*/
form {
    margin: 1rem
}

.item {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: bold
}

.po {
    border-collapse: separate;
    border-spacing: 0 1rem
}

select {
    width: 12.5rem;
    height: 2rem;
    padding-left: 0.5rem;
    border: 1px solid #797a7e;
    border-radius: 5px
}

select:hover {
    border-color: #417ca9
}

select:focus {
    border-color: #417ca9;
    background-color: #f9f9f9
}

select:focus option {
    background-color: #ffffff
}

input[type="number"] {
    width: 10rem;
    height: 2rem;
    padding-left: 0.5rem;
    border: 1px solid #797a7e;
    border-radius: 5px
}

input[type="number"]:hover {
    border-color: #417ca9
}

input[type="number"]:focus {
    border-color: #417ca9;
    background-color: #f9f9f9
}

.button {
    width: 60%;
    margin-top: 1rem;
    margin-left: 4rem
}

.button input {
    width: 4rem;
    height: 2.5rem;
    border: 2px solid #797a7e;
    border-radius: 5px
}

.button input:hover {
    border-color: #417ca9;
    background-color: #cccccc
}

/*输出部分*/
.paper {
    padding: 15px 0 45px;
    background-color: #f9f9f9;
    background-image: url(../img/paper.png);
    border: 1px solid #797a7e;
    border-bottom-left-radius: 20px 500px;
    border-bottom-right-radius: 500px 30px;
    border-top-right-radius: 5px 100px;
    box-shadow: 0 0 3px #797a7e;
}

#output p {
    min-height: 1.5rem;
    margin: 0 1rem;
    font-size: 1rem;
    line-height: 1.5rem
}

span {
    font-size: 1.125rem;
    font-weight: bold;
    font-style: italic;
    color: #417ca9;
    border-bottom: 3px groove #000000
}

/*底部栏*/
.bottom {
    width: 100%;
    height: 5rem;
    text-align: center;
    color: #eeeeee;
    background-color: #98bcde
}

.bottom p {
    margin: 0;
    padding-top: 0.75rem
}

.bottom a {
    color: #eeeeee
}

/*功能部分*/
iframe {
    display: none
}

.hide {
    display: none
}

.show {
    height: 20px;
    width: 20px;
    animation: ani 0.6s
}

.funct {
    display: table-cell
}

.funct input {
    height: 20px;
    width: 20px
}

.hide_funct {
    display: none
}