.logo {
    display: none;
}

.head {
    width: 100%;
    min-height: 7.5rem;
    background-color: #417ca9;
    overflow: auto
}

.head h1 {
    margin: 0 0 2.0625rem;
    padding-top: 2rem;
    font-size: 2.625rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.nav {
    position: absolute;
    margin: -1.625rem calc(50% - 16.875rem) 0;
    border: 0;
    border-collapse: collapse
}

.body {
    width: calc(85% - 2rem - 2px);
    min-height: calc(100vh - 18.5rem - 2px);
    margin: 2rem 7.5%;
    padding: 1rem;
    background-color: #ffffff;
    border: 1px solid #797a7e;
    border-radius: 10px;
    box-shadow: 0 0 5px #797a7e;
    overflow: auto
}

.input {
    height: 45rem
}